<%# locals: (class_names: "", **attributes) -%>
<div
  data-slot="alert-title"
  class="<%= cn("col-start-2 line-clamp-1 min-h-4 font-medium tracking-tight", class_names) %>"
  <%= tag.attributes(attributes) %>
>
  <%= yield %>
</div>
