<%# locals: (variant: "default", title: nil, description: nil, class_names: "", **attributes) -%>
<% base_classes = "relative w-full rounded-lg border p-4"

variant_classes = {
  "default" => "bg-background text-foreground",
  "destructive" =>
    "border-destructive/50 text-destructive dark:border-destructive [&>svg]:text-destructive",
  "success" =>
    "border-emerald-200 bg-emerald-50 text-emerald-900 dark:border-emerald-200/30 dark:bg-emerald-500/10 dark:text-emerald-200",
} %>
<div
  class="<%= cn(base_classes, variant_classes[variant], class_names) %>"
  role="alert"
  <%= tag.attributes(attributes) %>
>
  <%= yield %>
</div>
