<%# locals: (class_names: "", **attributes) -%>
<span
  role="link"
  aria-disabled="true"
  aria-current="page"
  class="<%= cn("font-normal text-foreground", class_names) %>"
  <%= tag.attributes(attributes) %>
>
  <%= yield %>
</span>
