<%# locals: (class_names: "", **attributes) -%>
<div
  data-controller="dropdown"
  class="<%= cn("relative inline-block text-left", class_names) %>"
  <%= tag.attributes(attributes) %>
>
  <%= yield %>
</div>
