<%# locals: () %>
<% content_for :page_title, "New Workspace" %>

<% content_for :breadcrumb do %>
  <%= responsive_breadcrumbs(
    { "Workspaces" => workspaces_path },
    "New Workspace",
  ) %>
<% end %>

<div class="mx-auto max-w-2xl">
  <%= render "form", workspace: @workspace %>
</div>
