<p>Hi,</p>

<p>Your data export has been started. We're creating a complete backup of all your workspaces and memories.</p>

<p>This process may take some time depending on the amount of data in your account. You'll receive another email with a download link when your export is ready.</p>

<p class="muted">You can continue using recuerd0 normally while the export is being prepared.</p>
