<%# locals: () %>

<% content_for :page_title, "New Memory" %>

<% content_for :breadcrumb do %>
  <%= breadcrumbs(
    {
      "Workspaces" => workspaces_path,
      @workspace.name => workspace_path(@workspace)
    },
    "New Memory"
  ) %>
<% end %>

<div class="h-full flex flex-col">
  <div class="flex-1 min-h-0">
    <%= render "memories/form", memory: @memory, workspace: @workspace %>
  </div>
</div>
